html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Rubik', sans-serif;
  background-color: black; /* Change background to black */
  color: white;
  height: 100%; /* Ensure the body spans the full height */
}

#root {
  height: 100%; /* Ensure the root spans the full height */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container spans the viewport height */
}

.screen-container {
  flex: 1; /* Allow the screen-container to grow and take up remaining space */
  padding-top: 20px; /* Adjust padding to ensure no overlap */
  color: white; /* Ensure text is white for contrast */
  position: relative;
  z-index: 1;
}
