.footer {
  background-color: black; /* Ensure the background is white */
  color: white; /* This will set the default text color within the footer */
  text-align: center;
  padding: 2px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 10px;
  box-sizing: border-box;
}

.footer p {
  color: white; /* Set the paragraph text color to black */
  margin: 0;
  padding: 10px 0;
  font-size: 1em;
  font-family: Jost;
}
