#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 15;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Ensure the button is visible initially */
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}


.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(246, 231, 224); /* Light color for icons */
  font-size: 1.75rem;
  opacity: 1; /* Ensure icons are visible */
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#nav-toggle .close {
  opacity: 0;
}

body[data-nav="true"] #nav-toggle .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] #nav-toggle .open {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1 !important; /* Ensure button is visible when not scrolling */
}

.hide {
  opacity: 0 !important; /* Hide button when scrolling */
}
