#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 15; /* Ensure it's above the nav bar and footer */
  left: 50%;
  bottom: 5rem; /* Adjust this value to raise the button vertically */
  transform: translateX(-50%);
  background-color: #b0b0b0; /* Neutral gray color */
  border: none;
  border-radius: 50%; /* Make it a circle */
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"] #nav-toggle {
  background-color: #8e8e8e; /* Slightly darker gray for active state */
}

/* Ensure only one icon is visible at a time */
#nav-toggle .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #f6e7e0; /* Light color for icons */
  font-size: 1.75rem;
  opacity: 1; /* Ensure icons are visible */
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#nav-toggle .close {
  opacity: 0;
}

body[data-nav="true"] #nav-toggle .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] #nav-toggle .open {
  opacity: 0;
  pointer-events: none;
}
